@import "ember-bootstrap/bootstrap";
@import "bootstrap/_custom";
$colors: (
  "primary-text": 'black',
  "primary-bg": 'white',
  "text-muted": '#414141',
  "text-link": '#007bff',
  "text-link-hover": '#0056b3',
  "text-select": '#414141',
  "text-select-bg": '#bcbcbc'
);
$colors-dark: (
  "primary-text": 'white',
  "primary-bg": '#2E2F30',
  "text-muted": '#bcbcbc',
  "text-link": '#0276F7',
  "text-link-hover": '#0263d0',
  "text-select": '#b2b2b2',
  "text-select-bg": '#8a8a8a'
);

:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    @each $name, $color in $colors-dark {
      --color-#{$name}: #{$color};
    }
  }
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--color-primary-text);
}

*::selection {
  color: var(--color-text-select) !important;
  background: var(--color-text-select-bg) !important;
}

a:link {
  color: var(--color-text-link);
  text-decoration: none;
  transition: color 200ms ease-in-out;

  &:hover {
    color: var(--color-text-link-hover);
  }
}

.main-container {
  min-height: 100vh;
  padding: 4rem;
  background-color: var(--color-primary-bg);
  @media(max-width: 750px) {
    min-height: 100vh;
    padding: 2rem 1rem;
  }

  p {
    margin: 0;
  }
}

.header {
  color: var(--color-primary-text);

  h2 {
    font-weight: bold;
  }

  h4 {
    font-weight: 300;
  }
}

.body {
  color: black;

  .text-muted {
    color: var(--color-text-muted) !important;
    font-weight: 200;
  }
}

.footer {
  @media(max-width: 750px) {
    display: block !important;
  }
}

.social-links {
  @media(max-width: 750px) {
    margin-bottom: 1rem;
  }

  a:focus {
    color: var(--color-primary-text);
  }

  .btn {
    padding: 0.5rem;

    i {
      display: block;
      width: 25px;
      height: 25px;
      position: relative;

      svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 25px;
        height: 25px;

        path {
          fill: currentColor;
        }
      }
    }
  }
}

.social-foursquare {
  display: flex;
  align-items: center;
  color: var(--color-primary-text);

  $icon-colors: (
    "default": '#304865',
    "water": '#3F6898',
    "pink": '#E1387B',
    "coffee": '#954535',
    "morning": '#F76B1C',
    "outdoors": '#458956',
    "business": '#7B7E80',
  );

  $icon-colors-dark: (
    "default": '#304865',
    "water": '#3F6898',
    "pink": '#E1387B',
    "coffee": '#954535',
    "morning": '#F76B1C',
    "outdoors": '#458956',
    "business": '#7B7E80',
  );

  @each $name, $color in $icon-colors {
    --color-#{$name}: #{$color};
  }

  @media (prefers-color-scheme: dark) {
    @each $name, $color in $icon-colors-dark {
      --color-#{$name}: #{$color};
    }
  }

  svg {
    width: 25px;
    position: relative;

    $icon-types: (
      'default',
      'water',
      'pink',
      'coffee',
      'morning',
      'outdoors',
      'business'
    );

    @each $type in $icon-types {
      &.#{$type} {
        color: var(--color-#{$type});
      }
    }

    path {
      fill: currentColor;
    }

    &.pride {
      path {
        fill: url("#a");
      }
    }
  }

  h5 {
    max-width: 250px;
  }

  p {
    font-weight: 400;
  }
}

.twitter-status {
  position: relative;
  background: var(--color-primary-bg);
  border: 2px solid var(--color-primary-text);
  border-radius: 2px;
  max-width: 460px;
  color: var(--color-primary-text);

  &:after,
  &:before {
    top: calc(100% + 4px);
    left: 0;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: var(--color-primary-text);
    border-width: 15px 21px;
    margin-left: 0;
    margin-top: -4px;
    z-index: 2;
  }

  &:before {
    border-color: transparent;
    border-top-color: var(--color-primary-text);
    border-width: 16px 23px;
    margin-left: -2px;
    margin-top: -4px;
    border-radius: 2px;
    z-index: 1;
  }

  &.landscape {
    flex-direction: column;
  }
}

.twitter-status--text {
  white-space: pre-wrap;
}

.twitter-status--retweeted {
  border: 1px solid var(--color-primary-bg);
  border-radius: 2px;
}

.twitter-status--retweeted-user {
  font-size: 14px;
}

.twitter-status--media {
  img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  video {
    width: 100%;
    object-fit: cover;
  }
}

.twitter-status--media-1up {
  &.square {
    max-width: 150px;
    max-height: 150px;
  }

  &.portrait {
    max-height: 150px;
    max-width: 150px;
    margin: 0.5rem 0 0.5rem 0.5rem;
    overflow: hidden;
  }
}

.twitter-status--media-img {
  img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
  }
}

.twitter-status--media-left,
.twitter-status--media-right {
  .twitter-status--media-img {
    width: 100%;
    max-height: calc(100px - 1px);
    margin: 0;
    overflow: hidden;

    &:first-child {
      margin-bottom: 2px;
    }
  }
}

.twitter-status--media-left {
  width: calc(50% - 2px);
  max-height: 200px;
  margin: 1px;
  overflow: hidden;
}

.twitter-status--media-right {
  width: calc(50% - 2px);
  max-height: 200px;
  margin: 1px;
  overflow: hidden;
}
