@import "bootstrap";
@import "bootstrap/_custom";

.main-container {
  min-height: calc(100vh - 8rem);
  margin: 4rem;
  background-color: white;

  @media(max-width: 750px) {
    min-height: calc(100vh - 4rem);
    margin: 2rem;
  }

  //
  // background-color: #304865;
  // background-image: radial-gradient(ellipse at center top, #5D7F9E 0%, #304865 100%);

  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   z-index: -2;
  //   background-image: url("https://images.unsplash.com/photo-1498503182468-3b51cbb6cb24?dpr=2&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=");
  //   background-size: cover;
  //   filter: contrast(1.2) grayscale(100%);
  // }
  //
  // &:after {
  //   mix-blend-mode: multiply;
  //   content: '';
  //   filter: contrast(1);
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   z-index: -1;
  //   background-color: #ab4f3d;
  //   background: radial-gradient(ellipse at center top, #cd5f49 0%, #ab4f3d 100%);
  // }

  p {
    margin: 0;
  }
}

.header {
  color: black;

  h2 {
    font-weight: bold;
  }
  h4 {
    font-weight: 300;
  }
}

.body {
  color: black;

  .text-muted {
    color: #414141 !important;
    font-weight: 200;
  }
}

.footer {

  @media(max-width: 750px) {
    display: block !important;
  }
}

.social-links {

  @media(max-width: 750px) {
    margin-bottom: 1rem;
  }

  a:focus {
    color: black;
  }

  .btn {
    padding: 0.5rem;

    i {
      display: block;
      width: 25px;
      height: 25px;
      position: relative;

      svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 25px;
        height: 25px;

        path {
          fill: currentColor;
        }
      }
    }
  }
}

.social-foursquare {
  display: flex;
  align-items: center;
  color: #414141;

  svg {
    width: 25px;
    position: relative;

    path {
      fill: currentColor;
    }

    &.default {
      color: #304865;
    }

    &.water {
      color: #3F6898;
    }

    &.pink {
      color: #E1387B;
    }

    &.coffee {
      color: #954535;
    }

    &.morning {
      color: #F76B1C;
    }

    &.outdoors {
      color: #458956;
    }

    &.business {
      color: #7B7E80;
    }

    &.pride {
      path {
        fill: url(#a);
      }
    }
  }

  h5 {
    max-width: 250px;
  }

  p {
    font-weight: 400;
  }
}

.twitter-status {
	position: relative;
	background: #ffffff;
	border: 2px solid #000000;
  border-radius: 2px;
  max-width: 460px;

  &:after, &:before {
  	top: calc(100% + 2px);
  	left: 0;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }
  &:after {
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #ffffff;
      border-width: 15px 21px;
      margin-left: 0px;
      margin-top: -2px;
      z-index: 2;
  }
  &:before {
    border-color: transparent;
    border-top-color: #000000;
    border-width: 16px 23px;
    margin-left: -2px;
    margin-top: -1px;
    border-radius: 2px;
    z-index: 1;
  }

  &.landscape {
    flex-direction: column;
  }
}

.twitter-status--text {
 white-space: pre-wrap;
}

.twitter-status--retweeted {
  border: 1px solid black;
  border-radius: 2px;
}

.twitter-status--retweeted-user {
  font-size: 14px;
}

.twitter-status--media {

  img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  video {
    width: 100%;
    object-fit: cover;
  }
}

.twitter-status--media-1up {

  &.square {
    max-width: 150px;
    max-height: 150px;
  }

  &.portrait {
    max-height: 150px;
    max-width: 150px;
    margin: 0.5rem;
    margin-right: 0;
    overflow: hidden;
  }
}

.twitter-status--media-img {

  img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
  }
}

.twitter-status--media-left, .twitter-status--media-right {

  .twitter-status--media-img {
    width: 100%;
    max-height: calc(100px - 1px);
    margin: 0;
    overflow: hidden;

    &:first-child {
      margin-bottom: 2px;
    }
  }
}

.twitter-status--media-left {
  width: calc(50% - 2px);
  max-height: 200px;
  margin: 1px;
  overflow: hidden;
}

.twitter-status--media-right {
  width: calc(50% - 2px);
  max-height: 200px;
  margin: 1px;
  overflow: hidden;
}
//
// .twitter-status--media-img {
//   width: calc(50% - 2px);
//   max-height: 100px;
//   margin: 1px;
//   overflow: hidden;
//
//   img {
//     min-height: 100%;
//     min-width: 100%;
//     object-fit: cover;
//   }
// }
